.pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 325px;
    height: auto;

    padding: 30px;
    margin-bottom: 20px;


    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.997);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 150px;
    border: 10px solid rgb(255, 255, 255);

    .pokemon-title {
        font-family: 'Alpha';
        font-size: 32px;

        padding: 10px;
    }

    img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        width: 250px;
        height: auto;

        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        border: 10px solid rgb(255, 255, 255);

        border-radius: 50%;
    }

    .pokemon-type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        text-align: center;
        text-decoration: none;
        text-transform: capitalize;

        font-family: 'Stolzl Display';
        font-size: 19px;

        font-weight: 900;
        padding: 15px 10px 10px 15px;
    }

    .pokemon-exp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        text-align: center;
        text-decoration: none;
        text-transform: capitalize;

        font-family: 'Stolzl Display';
        font-size: 19px;

        font-weight: 900;
        padding: 10px;
    }
}